<nz-header class="header">
  <img src="assets/imgs/logo.png" alt="logo" class="logo">
  <span class="header-title">順達電腦辦公平台</span>
  <div class="menu">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;" *ngIf="auth && !isLoginPage">
      <li nz-menu-item><i class="anticon anticon-notification"></i>消息</li>
      <li nz-menu-item><i class="anticon anticon-user"></i>{{user.NICK_NAME}}</li>
      <li nz-menu-item><i class="anticon anticon-logout"></i><nz-popconfirm [nzTitle]="'确定要退出登录？'" (nzOnConfirm)="confirm()">
          <span nz-popconfirm>登出</span>
        </nz-popconfirm></li>
    </ul>
  </div>

</nz-header>
