<nz-header class="header">
  <img src="assets/imgs/mitac_logo.png" alt="logo" class="logo">
  <div class="header-title">{{'appTitle' | translate}}</div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;" *ngIf="auth && !isLoginPage">
    <li routerLink="/modules" nz-menu-item routerLinkActive="ant-menu-item-selected">{{'appCenter' | translate}}</li>
    <li nz-menu-item routerLink="/end" nz-menu-item routerLinkActive="ant-menu-item-selected" *ngIf="canSeeEnd()">{{'end' | translate}}</li>
    <!-- <li nz-menu-item>其它</li> -->
    <div class="menu">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 63px;" *ngIf="auth && !isLoginPage" class="ul-horizontal">
        <li nz-menu-item>
          <i class="anticon anticon-notification"></i> {{'message' | translate}}
          <nz-badge [nzCount]="tips | async">
            <ng-template #content>
              &nbsp;&nbsp;
            </ng-template>
          </nz-badge>
        </li>
        <li nz-menu-item>
          <i class="anticon anticon-user"></i>{{user.NICK_NAME | sgChineseConv}}</li>
        <li nz-menu-item>
          <i class="anticon anticon-logout"></i>
          <nz-popconfirm [nzTitle]="'logOutTip' | translate" (nzOnConfirm)="confirm()">
            <span nz-popconfirm>{{'logOut' | translate}}</span>
          </nz-popconfirm>
        </li>
      </ul>

      <nz-dropdown class="ul-dropdown" [nzPlacement]="'bottomRight'">
        <a class="ant-dropdown-link" nz-dropdown>
          <i class="anticon anticon-menu-fold"></i>
          <nz-badge [nzCount]="tips | async">
            <ng-template #content>
              &nbsp;&nbsp;
            </ng-template>
          </nz-badge>
        </a>
        <ul nz-menu>
          <li nz-menu-item>{{'message' | translate}}
            <nz-badge [nzCount]="tips | async">
              <ng-template #content>
                &nbsp;&nbsp;
              </ng-template>
            </nz-badge>
          </li>
          <li nz-menu-item>
            <nz-popconfirm [nzTitle]="'logOutTip' | translate" (nzOnConfirm)="confirm()">
              <span nz-popconfirm>{{'logOut' | translate}}</span>
            </nz-popconfirm>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </ul>
</nz-header>
