<nz-header class="header">
  <img src="assets/imgs/logo.png" alt="logo" class="logo">
  <div class="header-title">順達電腦辦公平台</div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item class="ant-menu-item-selected">應用中心</li>
    <!-- <li nz-menu-item>後台</li>
    <li nz-menu-item>其它</li> -->
    <div class="menu">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 63px;" *ngIf="auth && !isLoginPage" class="ul-horizontal">
        <li nz-menu-item>
          <i class="anticon anticon-notification"></i>消息</li>
        <li nz-menu-item>
          <i class="anticon anticon-user"></i>{{user.NICK_NAME}}</li>
        <li nz-menu-item>
          <i class="anticon anticon-logout"></i>
          <nz-popconfirm [nzTitle]="'確認要退出登錄？'" (nzOnConfirm)="confirm()">
            <span nz-popconfirm>登出</span>
          </nz-popconfirm>
        </li>
      </ul>

      <nz-dropdown class="ul-dropdown" [nzPlacement]="'bottomRight'">
        <a class="ant-dropdown-link" nz-dropdown>
          <i class="anticon anticon-menu-fold"></i>
        </a>
        <ul nz-menu>
          <li nz-menu-item>消息</li>
          <li nz-menu-item>
            <nz-popconfirm [nzTitle]="'確認要退出登錄？'" (nzOnConfirm)="confirm()">
              <span nz-popconfirm>登出</span>
            </nz-popconfirm>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </ul>
</nz-header>
