:host ::ng-deep .logo {
    width: 206px;
    height:40px;
    border-radius: 6px;
    margin: 12px 28px 12px 0;
    float: left;
}


.header-title{
    color:#ffffff;
    font-size: 24px;
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ant-layout-header {
    font-size: 0.9rem;
}
