<nz-tabset>
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      进行中
      <nz-badge [nzCount]="normalTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectMain'" (dataDriveInit)="getDataDrive1($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <span>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="seeDetail(data)">查看子信息</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      超期未完成
      <nz-badge [nzCount]="outTimeTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectMain'" (dataDriveInit)="getDataDrive2($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <span>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="seeDetail(data)">查看子信息</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading3">
    <ng-template #nzTabHeading3>
      已完成
    </ng-template>
    <app-data-drive [name]="'projectMain'" (dataDriveInit)="getDataDrive3($event)"></app-data-drive>
  </nz-tab>
</nz-tabset>
<ng-container *ngIf="targetProject">
  <nz-divider></nz-divider>
  <h2 style="margin-top: 16px; margin-left: 16px">
    <span>子信息: </span>
  </h2>
  <app-project-detail [project]="targetProject" [afterBigChange]="afterTasksBigChange"></app-project-detail>
</ng-container>
