<div *ngIf="dataDrive">
  <nz-collapseset>
    <ng-container *ngIf="dataDrive.additionalFn">
        <nz-collapse [nzTitle]="'挑选列'" *ngIf="dataDrive.additionalFn.filterColumn">
            <app-filter-column [opts]="dataDrive"></app-filter-column>
          </nz-collapse>
          <nz-collapse [nzTitle]="'菜单'" *ngIf="dataDrive.additionalFn.menu">
            <app-menu [opts]="dataDrive"></app-menu>
          </nz-collapse>
    </ng-container>
    <nz-collapse [nzTitle]="'检索'" *ngIf="dataDrive.tableData && dataDrive.tableData.searchable && dataDrive.searchSets && dataDrive.searchSets.length > 0">
        <app-data-inputer [opts]="dataDrive" [type]="2" *ngIf="dataDrive && dataDrive.tableData && dataDrive.tableData.data"></app-data-inputer>
      </nz-collapse>
  </nz-collapseset>
</div>

<!-- <app-data-inputer [opts]="dataDrive" [type]="1" [changeIdx]="2" *ngIf="dataDrive && dataDrive.tableData && dataDrive.tableData.data"></app-data-inputer> -->

<app-data-viewer [opts]="dataDrive" class="main-view" *ngIf="dataDrive && dataDrive.tableData && dataDrive.tableData.visible"></app-data-viewer>

<div class="my-modal" *ngIf="isShowModal | async">
  <app-data-viewer [opts]="dataDrive" [isModal]="true"></app-data-viewer>
</div>