
<nz-table *ngIf="_dataDrive"
    #nzTable
    [nzScroll]="setDetail.fixedHeader.enable?{ y: setDetail.fixedHeader.scrollHeight>0?setDetail.fixedHeader.scrollHeight: 300 }:null"
    [nzDataSource]="tableData.data"
    [nzPageSize]="setDetail.pageSet.count"
    [nzBordered]="setDetail.border_y.enable"
    [nzLoading]="_loading"
    [nzIsPagination]="setDetail.pageSet.enable"
    [nzShowFooter]="setDetail.footer.enable"
    [nzShowTitle]="setDetail.title.enable && !isModal"
    [nzSize]="setDetail.size"
    (nzDataChange)="dataChange()"
    >
    <span nz-table-title>{{tableSet.title}}</span>
    <ng-template #nzFixedHeader [ngIf]="_header&&!setDetail.fixedHeader.enable&&tableData">
        <thead nz-thead>
            <tr>
              <th nz-th 
              [style.backgroundColor]="setDetail.header?setDetail.header.bgColor:''"
              [style.color]= "setDetail.header?setDetail.header.textColor:''"
              [style.fontSize]= "setDetail.header?setDetail.header.textSize:''"
              *ngFor="let item of tableData.columns;let i = index" [nzWidth]="setDetail.fixedHeader.enable &&setDetail.fixedHeader.width && setDetail.fixedHeader.width[i]?setDetail.fixedHeader.width[i]:(100/tableData.columns.length) + '%'"><span>{{item.value}}</span></th>
            </tr>
          </thead>
    </ng-template>
    <tbody nz-tbody 
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()">
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td 
          [style.backgroundColor]="setDetail.body && setDetail.body.rules?runRegExp(data, setDetail.body, 'bgColor'):''"
          [style.fontSize]= "setDetail.body && setDetail.body.rules?runRegExp(data, setDetail.body, 'textSize'):''"
          [style.color]= "setDetail.body && setDetail.body.rules?runRegExp(data, setDetail.body, 'textColor'):''"
          nz-td *ngFor="let item of data">{{item.value}}</td>
        </tr>
      </tbody>
    <span nz-table-footer>{{setDetail.footer.content}}</span>
  </nz-table>