<app-data-drive [name]="'reservationServerRate'" (dataDriveInit)="getDataDrive($event)">
  <ng-template #actionRef let-data="data">
    <span *ngIf="data.TOTAL">
      <a (click)="toRateDetail(data)">{{'serviceModule.moreDetail' | translate}}</a>
    </span>
  </ng-template>
</app-data-drive>

<nz-modal [nzVisible]="isDetailVisible" [nzTitle]="'serviceModule.detail' | translate" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="isDetailVisible = false" nzWidth="460px">
  <ng-template #modalContent>
    <div class="yinxiang-container">
      <div class="title">{{'serviceModule.moreDetail' | translate}}:</div>
      <div class="yinxiang">
        <ng-container *ngFor="let item of yinxiangList">
          <div class="yx" *ngIf="item.QTY > 0">{{item.DESCRIPTION}} {{item.QTY}}</div>
        </ng-container>
      </div>
    </div>
    <div class="split-block"></div>
    <div class="comment" *ngFor="let i of commentList">
      <!-- <div class="comment" > -->
      <img class="comment-avatar" [src]="i.AVATAR_URL">
      <div class="comment-right">
        <div class="comment-name">{{i.NAME}}</div>
        <div class="comment-rate">
          <nz-rate [ngModel]="i.SCORE" nzDisabled *ngIf="i.SCORE"></nz-rate>
          <span class="comment-date">{{i.COMMENT_TIME}}</span>
        </div>
        <div class="comment-desc">{{i.USER_COMMENT}}</div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal>
