<nz-tabset [(nzSelectedIndex)]="tabIdx">
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      {{'insoectionModule.nightDuty' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionScheduleLine'" (dataDriveInit)="getDataDrive2($event)"></app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      {{'insoectionModule.safeDuty' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionScheduleLine'" (dataDriveInit)="getDataDrive3($event)"></app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading3">
    <ng-template #nzTabHeading3>
      7S
    </ng-template>
    <app-data-drive [name]="'inspectionScheduleLine4'" (dataDriveInit)="getDataDrive4($event)"></app-data-drive>
  </nz-tab>
</nz-tabset>

<nz-modal [nzVisible]="isVisible" nzTitle="{{'insoectionModule.schedule' | translate}}" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="isVisible = false">
  <ng-template #modalContent>
      <form nz-form [nzLayout]="formLayout" [formGroup]="scheduleForm" *ngIf="scheduleForm">
          <ng-container *ngIf="tabIdx === 2">
              <nz-form-item>
                  <nz-form-label [nzSpan]="6">*{{'insoectionModule.inspectionWeek' | translate}}</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <app-mx-select myPlaceHolder="{{'insoectionModule.selectInspectionWeek' | translate}}" [options]="weekOption" formControlName="SCHEDULE_NAME"></app-mx-select>
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSpan]="6">*{{'insoectionModule.location2' | translate}}</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <app-mx-select myPlaceHolder="{{'insoectionModule.selectLocation' | translate}}" [lazyAPI]="'IPQA/GetMRILookup?lookup_type=7S_LOCATION'" [lazyParams]="['LOOKUP_CODE', 'LOOKUP_CODE']" formControlName="AREA"></app-mx-select>
                  </nz-form-control>
              </nz-form-item>
          </ng-container>
          <nz-form-item *ngIf="tabIdx !== 2">
              <nz-form-label [nzSpan]="6">*{{'insoectionModule.dutyDay' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="16">
                  <app-my-date-picker formControlName="FROM_DATE"></app-my-date-picker>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSpan]="6">*{{'insoectionModule.startTime' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="16">
                  <app-my-time-picker myPickerFormat="HH:mm" myFormat="HH:mm" formControlName="FROM_TIME"></app-my-time-picker>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSpan]="6">*{{'insoectionModule.endTime' | translate}}</nz-form-label>
              <nz-form-control [nzSpan]="16">
                  <app-my-time-picker myPickerFormat="HH:mm" myFormat="HH:mm" formControlName="TO_TIME"></app-my-time-picker>
                  <nz-form-explain class="has-error">{{timeErr}}</nz-form-explain>
              </nz-form-control>
          </nz-form-item>
          <ng-container formArrayName="empnos">
              <ng-container *ngFor="let ctrl of scheduleForm.controls['empnos'].controls; let i = index;">
                  <nz-form-control [formGroupName]="i">
                      <nz-form-label [nzSpan]="6">*{{'insoectionModule.inspector' | translate}}{{i+1}}</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                          <app-colleague-searcher style="width: 60%; margin-right:8px;" formControlName="person"></app-colleague-searcher>
                          <i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="cancleEmp(i)" *ngIf="i !==0"></i>
                      </nz-form-control>
                  </nz-form-control>
              </ng-container>
          </ng-container>
          <nz-form-item>
              <nz-form-control [nzOffset]="6">
                  <button nz-button [nzType]="'dashed'" [nzSize]="'large'" style="width:60%" (click)="addEmp()">
                      <i class="anticon anticon-plus"></i>
                      {{'insoectionModule.addInspector' | translate}}
                  </button>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item style="display:block;text-align:center">
            <button nz-button type="submit" [nzType]="'primary'" style="width: 45%" (click)="submitForm()" [disabled]="!scheduleForm.valid">{{'confirm' | translate}}</button>
          </nz-form-item>
      </form>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal>
