<div nz-row *ngIf="project">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" [nzLg]="isHistoryFold?23:18">
    <div class="sub-child">
      <div class="card-container">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
          <nz-tab [nzTitle]="'projectModule.projectPeople' | translate">
            <app-data-drive [name]="'projectPeople'" (dataDriveInit)="getDataDrivePeople($event)" [bodyCellStyle]="bodyCellStyle"></app-data-drive>
          </nz-tab>
          <nz-tab [nzTitle]="'projectModule.projectTask' | translate">
            <app-task-tabset [project]="project" [afterDataChange]="afterTaskTabChange" [projectPeople]="peopleList"></app-task-tabset>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" [nzLg]="isHistoryFold?1:6" style="padding-left: 24px">
    <button nz-button [nzType]="'primary'" (click)="isHistoryFold = false" nz-tooltip [nzTitle]="'projectModule.showHistory' | translate"
      *ngIf="isHistoryFold">
      <i class="anticon anticon-menu-fold"></i>
    </button>
    <nz-card [nzTitle]="'projectModule.history' | translate" *ngIf="!isHistoryFold" [nzExtra]="extraTemplate">
      <ng-template #extraTemplate>
        <a (click)="isHistoryFold = true">{{'projectModule.hide' | translate}}</a>
      </ng-template>
      <nz-list nzSize="large" class="activities" [nzDataSource]="history" [nzRenderItem]="item" [nzLoadMore]="loadMore">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta [nzAvatar]="item.USER_NAME | myFlex: {name:'empno',params:['{AVATAR_URL}']} | async" [nzTitle]="activeTitle"
              [nzDescription]="activeDescription">
              <ng-template #activeTitle>
                <a class="username">{{item.USER_NAME | myFlex: {name:'empno',params:['CH']} | async}}</a>
                &nbsp;
                <ng-container *ngIf="item.TARGET_TYPE === 1">
                  <ng-container *ngIf="item.CHANGE_TYPE === 1">
                    <span>{{'projectModule.newProject' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="item.CHANGE_TYPE === 3">
                    <span>{{'projectModule.deleteProject' | translate}}</span>
                  </ng-container>
                  <ng-container *ngIf="item.CHANGE_TYPE === 2">
                    {{'projectModule.alterProject' | translate}}:
                    <div *ngFor="let di of item.DIFF" class="markdown">
                      <ng-container [ngSwitch]="di">
                        <span *ngSwitchCase="'NAME'">{{'projectModule.NAME' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'TYPE'">{{'projectModule.TYPE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'DESCRIPTION'">{{'projectModule.DESCRIPTION' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'START_DATE'">{{'projectModule.START_DATE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailDate" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'DUE_DATE'">{{'projectModule.DUE_DATE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailDate" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'STATUS'">
                          <span *ngIf="item.BEFORE_STORE[di] === 'Open' && item.AFTER_STORE[di] === 'Closed'">{{'projectModule.DoneProject' | translate}}</span>
                        </span>
                        <span *ngSwitchCase="'PARENT_HEADER'">
                          <span *ngIf="!item.BEFORE_STORE[di] && item.AFTER_STORE[di]">
                            {{'projectModule.fromFreeTo' | translate}}
                            <code>
                              <ng-template [ngTemplateOutlet]="projectName" [ngTemplateOutletContext]="{$implicit: item.AFTER_STORE[di]}"></ng-template>
                            </code> {{'projectModule.children' | translate}}
                          </span>
                          <span *ngIf="item.BEFORE_STORE[di] && !item.AFTER_STORE[di]">
                            {{'projectModule.from' | translate}}
                            <code>
                              <ng-template [ngTemplateOutlet]="projectName" [ngTemplateOutletContext]="{$implicit: item.BEFORE_STORE[di]}"></ng-template>
                            </code> {{'projectModule.childToFree' | translate}}
                          </span>
                          <span *ngIf="item.BEFORE_STORE[di]&&item.AFTER_STORE[di]">
                            ({{'projectModule.from' | translate}}
                            <code>
                              <ng-template [ngTemplateOutlet]="projectName" [ngTemplateOutletContext]="{$implicit: item.BEFORE_STORE[di]}"></ng-template>
                            </code> {{'projectModule.children' | translate}}{{'projectModule.to' | translate}}
                            <code>
                              <ng-template [ngTemplateOutlet]="projectName" [ngTemplateOutletContext]="{$implicit: item.AFTER_STORE[di]}"></ng-template>
                            </code> {{'projectModule.children' | translate}})
                          </span>
                        </span>
                        <span *ngSwitchDefault>{{di}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="item.TARGET_TYPE === 2">
                  <ng-container *ngIf="item.CHANGE_TYPE === 1">
                    <span>{{'projectModule.newTask' | translate}}:
                      <a (click)="seeTaskDetail({ID:item.AFTER_STORE.ID})" class="link">{{item.AFTER_STORE.CODE}}
                      </a>, {{'projectModule.ASSIGNEE' | translate}}: {{item.AFTER_STORE.ASSIGNEE | myFlex: {name:'empno',params:['CH(NO)']}
                      | async}}</span>
                  </ng-container>
                  <ng-container *ngIf="item.CHANGE_TYPE === 3">
                    <span>{{'projectModule.deleteTask' | translate}}:
                      <a (click)="seeTaskDetail({ID:item.AFTER_STORE.ID})" class="link" *ngIf="item.AFTER_STORE">{{item.AFTER_STORE.CODE}}
                      </a>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="item.CHANGE_TYPE === 2">
                    {{'projectModule.alterTask' | translate}} (
                    <a (click)="seeTaskDetail({ID:item.AFTER_STORE.ID})" class="link">{{item.AFTER_STORE.CODE}}</a>):
                    <div *ngFor="let di of item.DIFF" class="markdown">
                      <ng-container [ngSwitch]="di">
                        <span *ngSwitchCase="'MODEL'">{{'projectModule.MODEL' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'BU'">{{'projectModule.BU' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'CUSTOMER'">{{'projectModule.CUSTOMER' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'IMPACT'">{{'projectModule.IMPACT' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'TYPE'">{{'projectModule.TYPE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'ASSIGNEE'">{{'projectModule.ASSIGNEE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailPerson" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'DESCRIPTION'">{{'projectModule.DESCRIPTION' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'WEIGHT'">{{'projectModule.WEIGHT' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'START_DATE'">{{'projectModule.START_DATE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailDate" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'DUE_DATE'">{{'projectModule.DUE_DATE' | translate}}
                          <ng-template [ngTemplateOutlet]="changeDetailDate" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                        <span *ngSwitchCase="'STATUS'">
                          <span *ngIf="item.BEFORE_STORE[di] === 'Open' && item.AFTER_STORE[di] === 'Finished'">{{'projectModule.taskFinishConfirming' | translate}}</span>
                          <span *ngIf="item.BEFORE_STORE[di] === 'Finished' && item.AFTER_STORE[di] === 'Open'">{{'projectModule.taskNoPass' | translate}}</span>
                          <span *ngIf="item.BEFORE_STORE[di] === 'Finished' && item.AFTER_STORE[di] === 'Closed'">{{'projectModule.taskClosedH' | translate}}</span>
                        </span>
                        <span *ngSwitchCase="'ATTACHMENT'">{{'projectModule.attachment' | translate}} (
                          <span style="display: block;" *ngIf="getAttachemntChangeDetail(item.AFTER_STORE[di],item.BEFORE_STORE[di],1)">{{'add' | translate}}:
                            <app-file-list [fileList]="getAttachemntChangeDetail(item.AFTER_STORE[di],item.BEFORE_STORE[di],1)"></app-file-list>
                          </span>

                          <span style="display: block;" *ngIf="getAttachemntChangeDetail(item.AFTER_STORE[di],item.BEFORE_STORE[di],2)">{{'delete' | translate}}:
                            <app-file-list [fileList]="getAttachemntChangeDetail(item.AFTER_STORE[di],item.BEFORE_STORE[di],2)"></app-file-list>
                          </span>)
                        </span>
                        <span *ngSwitchDefault>{{di}}
                          <ng-template [ngTemplateOutlet]="changeDetailString" [ngTemplateOutletContext]="{item: item, di:di}"></ng-template>
                        </span>
                      </ng-container>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="item.TARGET_TYPE === 3">
                  <ng-container *ngIf="item.CHANGE_TYPE === 1">
                    {{'projectModule.newMember' | translate}}:
                    <code>{{item.AFTER_STORE.USER_NAME | myFlex: {name:'empno',params:['CH(NO)']} | async}}</code>
                  </ng-container>
                  <ng-container *ngIf="item.CHANGE_TYPE === 3">
                    {{'projectModule.deleteMemeber' | translate}}:
                    <code>{{item.AFTER_STORE.USER_NAME | myFlex: {name:'empno',params:['CH(NO)']} | async}}</code>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="item.TARGET_TYPE === 4">
                  <ng-container *ngIf="item.CHANGE_TYPE === 1">
                    {{'projectModule.updateTask' | translate}}(
                    <a (click)="seeTaskDetail({
                      ID:item.AFTER_STORE.LINE_ID
                    })" class="link">{{item.AFTER_STORE.LINE_ID | myFlex: {name:'lazyLoad',params:['projects/lines?id='+item.AFTER_STORE.LINE_ID,['ID','CODE']
                      ]} | async}}</a>){{'projectModule.progress' | translate}}
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="item.TARGET_TYPE === 5">
                  <ng-container *ngIf="item.CHANGE_TYPE === 1">
                    {{'projectModule.inTask' | translate}}(
                    <a (click)="seeTaskDetail({
                        ID:item.AFTER_STORE.LINE_ID
                      })" class="link">{{item.AFTER_STORE.LINE_ID | myFlex: {name:'lazyLoad',params:['projects/lines?id='+item.AFTER_STORE.LINE_ID,['ID','CODE']
                      ]} | async}}</a>){{'projectModule.leftComment' | translate}}
                  </ng-container>
                </ng-container>
              </ng-template>
              <ng-template #activeDescription>
                <span class="datetime">{{ item.CREATION_DATE | sgMessageTime}}</span>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
        <ng-template #loadMore>
          <div class="loadmore">
            <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
            <nz-spin *ngIf="loadingMore" [nzSpinning]="loadingMore"></nz-spin>
          </div>
        </ng-template>
      </nz-list>
    </nz-card>
  </div>
</div>


<ng-template #changeDetailString let-item="item" let-di="di">
  ({{'projectModule.from' | translate}}
  <code>{{item.BEFORE_STORE[di]}}</code> {{'projectModule.to' | translate}}
  <code>{{item.AFTER_STORE[di]}}</code>)
</ng-template>

<ng-template #changeDetailDate let-item="item" let-di="di">
  ({{'projectModule.from' | translate}}
  <code>{{item.BEFORE_STORE[di] | sgMydate: 'YYYY-MM-DD'}}</code> {{'projectModule.to' | translate}}
  <code>{{item.AFTER_STORE[di] | sgMydate: 'YYYY-MM-DD'}}</code>)
</ng-template>

<ng-template #changeDetailPerson let-item="item" let-di="di">
  ({{'projectModule.from' | translate}}
  <code>{{item.BEFORE_STORE[di] | myFlex: {name:'empno',params:['CH(NO)']} | async}}</code> {{'projectModule.to' | translate}}
  <code>{{item.AFTER_STORE[di] | myFlex: {name:'empno',params:['CH(NO)']} | async}}</code>)
</ng-template>

<ng-template #projectName let-id>
  {{id}}
</ng-template>
