<div class="exam-title">4645654</div>
<nz-alert [nzType]="'info'">
  <nz-row alert-body [nzType]="'flex'" [nzJustify]="'space-around'">
    <nz-col>
      <span>考試科目：XXXXX</span>
    </nz-col>
    <nz-col>
      <span>姓名：XXXXX</span>
    </nz-col>
    <nz-col>
      <span>限時：{{examTime}}分鐘</span>
    </nz-col>
    <nz-col>
      剩餘時間：
      <span>{{leftTime}}</span>
    </nz-col>
    <nz-col>
      <span>得分：90</span>
    </nz-col>
  </nz-row>
</nz-alert>

<nz-card *ngIf="TFList?.length > 0">
  <ng-template #title>
    {{subTitlePrefixs[0]}}、 判斷題,總分
    <span>30</span>分,每題
    <span>10</span>分
  </ng-template>
  <ng-template #body>
    <app-true-or-false [titlePrefix]="i+1 +'. '" class="question-item" *ngFor="let item of TFList;let i = index" [question]="item"></app-true-or-false>
  </ng-template>
</nz-card>

<nz-card *ngIf="radioList?.length > 0">
  <ng-template #title>
    {{subTitlePrefixs[1]}}、 選擇題,總分
    <span>30</span>分,每題
    <span>10</span>分
  </ng-template>
  <ng-template #body>
    <app-radio-question [titlePrefix]="i+1 +'. '" class="question-item" *ngFor="let item of radioList;let i = index"></app-radio-question>
  </ng-template>
</nz-card>

<nz-card *ngIf="checkboxList?.length > 0">
  <ng-template #title>
    {{subTitlePrefixs[2]}}、 多選題,總分
    <span>30</span>分,每題
    <span>10</span>分
  </ng-template>
  <ng-template #body>
    <app-checkbox-question [titlePrefix]="i+1 +'. '" class="question-item" *ngFor="let item of checkboxList;let i = index"></app-checkbox-question>
  </ng-template>
</nz-card>

