<div class="container">
  <div class="login-body">
    <div class="login-body-box">
      <div class="login-content">
        <form nz-form [formGroup]="validateForm" class="login-form">
          <div class="login-title">登录</div>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-user">
                <input type="text" nz-input formControlName="userName" placeholder="Username">
              </nz-input-group>
              <nz-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">Please input your username!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="anticon anticon-lock">
                <input type="password" nz-input formControlName="password" placeholder="Password">
              </nz-input-group>
              <nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="remember">
                Remember me
              </label>
              <button nz-button class="login-form-button" [nzType]="'primary'" (click)="login()" [disabled]="!validateForm.valid || loading">确认</button>
            </nz-form-control>
          </nz-form-item>
          <nz-spin *ngIf="loading"></nz-spin>
        </form>
      </div>
    </div>
  </div>
  <nz-footer style="text-align: center;">Ant Design ©{{year}} Implement By Mitac</nz-footer>
</div>
