.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  padding-top: 20px;
}

.steps-action {
  margin-top: 24px;
}

.card-item {
  width: 33.33%;
  text-align: center;
  cursor: pointer;
}

.hasremain {
  background-color: #FFFFFF;
}

.noremain {
  color: rgba(0, 0, 0, 0.25);
}

.cell-containar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.align-center {
  text-align: center;
}

.cell-disabled {
  color: rgba(0, 0, 0, 0.25);
}

.card-select {
  background-color: #20A0ff;
  color: #fff;
}

.last-step {
  text-align: center;
  font-size: 2.5rem;
  height: 200px;
  line-height: 180px;
}

.step-button {
  width: 100px;
  height: 30px;
  line-height: 30px;
}

:host ::ng-deep .ant-fullcalendar-fullscreen .ant-fullcalendar-content {
  height: 50px;
}

:host ::ng-deep .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  height: 80px;
}

.hasApp {
  color: red;
}