<nz-steps [(nzCurrent)]="current" [style.marginLeft.px]="20">
  <nz-step [nzTitle]="'選擇日期'"></nz-step>
  <nz-step [nzTitle]="'選擇時間段'"></nz-step>
  <nz-step [nzTitle]="'填寫申請'"></nz-step>
  <nz-step [nzTitle]="'提交成功'"></nz-step>
</nz-steps>

<div class="steps-content">
  <ng-container *ngIf="current === 0 && dateMes">
    <nz-calendar [nzLocale]="'zh-cn'" [nzMode]="'month'">
      <ng-template #dateCell let-day>
        <div class="cell-containar" (click)="selectDate(day)" [class.card-select]="selectedDate === day.title">
          {{getDetailByDate(day) > -1?'剩余号数':''}}
          <div class="align-center">{{getDetailByDate(day)}}</div>
        </div>
      </ng-template>
    </nz-calendar>
  </ng-container>

  <ng-container *ngIf="current === 1">
    <nz-card nzNoHovering>
      <ng-template #title>請挑選時間段</ng-template>
      <ng-template #body>
        <div nz-card-grid class="card-item" *ngFor="let item of dayInfo" [class.card-select]="selectedTimeId === item.TIME_ID" (click)="selectCard(item)">
          <div> {{item.START_TIME + ' ~ ' + item.END_TIME}} </div>
          剩餘號數： {{item.REMAIN_NUMBER}}
        </div>
      </ng-template>
    </nz-card>
  </ng-container>

  <ng-container *ngIf="current === 2">
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="myForm" *ngIf="myForm">

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>服務部門</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [style.textAlign]="'center'">
          {{deptId | myFlex: {name: 'lazyLoad', params: ['Service/GetServiceDepartments?dept_no={dept_no}&company_id={company_id}', ['ID','DEPT_NAME']]}
          | async}}
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>服務時間</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [style.textAlign]="'center'" [style.textAlign]="'center'">
          {{serviceTime}}
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>*問題描述</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="SERVICE_DESC" nzType="textarea" [nzAutosize]="'1'"></nz-input>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>附圖</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <app-photo-upload formControlName="IMAGES"></app-photo-upload>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>*聯絡人</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <app-colleague-searcher formControlName="CONTACT"></app-colleague-searcher>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>*分機/手機</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="MOBILE" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
    </form>
  </ng-container> 

  <ng-container *ngIf="current === 3">
    <div class="last-step">
      申請成功!
    </div>
  </ng-container>
</div>
<div class="steps-action" *ngIf="current < 3">
  <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0" class="step-button">
    <span>上一步</span>
  </button>
  <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 3 && canNext()" class="step-button">
    <span>下一步</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 3">
    <span>Done</span>
  </button>
</div>
