<nz-steps [(nzCurrent)]="current" [style.marginLeft.px]="20">
  <nz-step [nzTitle]="'選擇日期'"></nz-step>
  <nz-step [nzTitle]="'選擇時間段'"></nz-step>
  <nz-step [nzTitle]="'填寫申請'"></nz-step>
  <nz-step [nzTitle]="'提交成功'"></nz-step>
</nz-steps>

<div class="steps-content">
  <ng-container *ngIf="current === 0">
      <nz-calendar [nzLocale]="'zh-cn'" [nzMode]="'month'"></nz-calendar>
  </ng-container>
</div>
<div class="steps-action">
  <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
    <span>Previous</span>
  </button>
  <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 3">
    <span>Next</span>
  </button>
  <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 3">
    <span>Done</span>
  </button>
</div>