<nz-tabset [(nzSelectedIndex)]="tabIdx">
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      进行中
      <nz-badge [nzCount]="normalTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive1($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="openFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      超期未完成
      <nz-badge [nzCount]="outTimeTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive2($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="openFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading3">
    <ng-template #nzTabHeading3>
      待审核
      <nz-badge [nzCount]="needConfimTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive3($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <a (click)="backToOpen(data)">取消审核</a>
        <nz-divider nzType="vertical"></nz-divider>
        <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading4">
    <ng-template #nzTabHeading4>
      已结案
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive4($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
</nz-tabset>
<ng-container *ngIf="targetTask">
  <nz-divider></nz-divider>
  <h2 style="margin-top: 16px; margin-left: 16px">
    <span>子信息: </span>
  </h2>
  <app-task-detail [task]="targetTask"></app-task-detail>
</ng-container>


<ng-template #openFn let-data>
  <span>
    <a (click)="notMyTask(data)">重置撤回</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="finished(data)">完成</a>
    <nz-divider nzType="vertical"></nz-divider>
    <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
  </span>
</ng-template>

<ng-template #seeDetailFn let-data>
  <a (click)=seeDetail(data)>查看子信息</a>
</ng-template>
