<nz-tabset [(nzSelectedIndex)]="tabIdx">
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      {{'projectModule.projectOpen' | translate}}
      <nz-badge [nzCount]="normalTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive1($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <div *ngIf="property === 'ATTACHMENT' && data['ATTACHMENT']">
          <app-file-list [fileList]="data['ATTACHMENT']"></app-file-list>
        </div>
      </ng-template>
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="openFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      {{'projectModule.projectOutTime' | translate}}
      <nz-badge [nzCount]="outTimeTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive2($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <div *ngIf="property === 'ATTACHMENT' && data['ATTACHMENT']">
          <app-file-list [fileList]="data['ATTACHMENT']"></app-file-list>
        </div>
      </ng-template>
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="openFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading3">
    <ng-template #nzTabHeading3>
      {{'projectModule.taskFinished' | translate}}
      <nz-badge [nzCount]="needConfimTips">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive3($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <div *ngIf="property === 'ATTACHMENT' && data['ATTACHMENT']">
          <app-file-list [fileList]="data['ATTACHMENT']"></app-file-list>
        </div>
      </ng-template>
      <ng-template #actionRef let-data="data">
        <a (click)="backToOpen(data)">{{'projectModule.taskBackToOpenBySelf' | translate}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading4">
    <ng-template #nzTabHeading4>
      {{'projectModule.taskClosed' | translate}}
    </ng-template>
    <app-data-drive [name]="'projectSubTask'" (dataDriveInit)="getDataDrive4($event)" [bodyCellStyle]="bodyCellStyle">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <div *ngIf="property === 'ATTACHMENT' && data['ATTACHMENT']">
          <app-file-list [fileList]="data['ATTACHMENT']"></app-file-list>
        </div>
      </ng-template>
      <ng-template #actionRef let-data="data">
        <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
      </ng-template>
    </app-data-drive>
  </nz-tab>
</nz-tabset>
<ng-container *ngIf="targetTask">
  <nz-divider></nz-divider>
  <h2 style="margin-top: 16px; margin-left: 16px">
    <span>{{'projectModule.taskDetail' | translate}}: </span>
  </h2>
  <app-task-detail [task]="targetTask"></app-task-detail>
</ng-container>


<ng-template #openFn let-data>
  <span>
    <ng-template [ngTemplateOutlet]="seeDetailFn" [ngTemplateOutletContext]="{$implicit: data}"></ng-template>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="finished(data)">{{'projectModule.finishTask' | translate}}</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="notMyTask(data)">{{'projectModule.notMyTask' | translate}}</a>
  </span>
</ng-template>

<ng-template #seeDetailFn let-data>
  <a (click)=seeDetail(data)>{{'projectModule.taskDetail' | translate}}</a>
</ng-template>
