<div style="padding: 16px;display: flex;justify-content: space-between;">
  <h1>{{'projectModule.routeNet' | translate}}</h1>
  <div style="margin-top: 24px">
    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="switch($event)">
      <label nz-radio-button nzValue="M">{{'projectModule.hasMeTree' | translate}}</label>
      <!-- <label nz-radio-button nzValue="A">ALL</label> -->
    </nz-radio-group>
  </div>
</div>

<!-- <nz-tabset>
  <nz-tab [nzTitle]="nzTabHeading" *ngFor="let item of treeNet">
    <ng-template #nzTabHeading>
      {{item.title.NAME}}
    </ng-template>
    <app-project-tree [tree]="item"></app-project-tree>
  </nz-tab>
</nz-tabset> -->


<app-data-drive [name]="'projectMain'" (dataDriveInit)="getDataDrive($event)">
  <ng-template #actionRef let-data="data">
    <span>
      <a (click)="seeProjectTree(data)"> {{'projectModule.seeProjectTree' | translate}} </a>
    </span>
  </ng-template>
</app-data-drive>
