<ng-container *ngTemplateOutlet="pageHeader"></ng-container>

<app-data-drive [name]="'esd'" (dataDriveInit)="getDrive($event)">
  <nz-collapse class="my-data-searcher" *ngIf="dataDrive">
    <nz-collapse-panel [nzHeader]="'boardModule.query' | translate">
      <form nz-form [formGroup]="validateForm" [nzLayout]="formLayout">
        <nz-row>
          <nz-col [nzSpan]="8">
            <div nz-form-item nz-row [style.marginBottom.px]="20" [style.width.%]="100">
              <div nz-form-label nz-col [nzSpan]="6">
                <label>{{'boardModule.topDept' | translate}}</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="16">
                <app-mx-select [formControlName]="'top'" [myPlaceHolder]="'boardModule.pleaseSelectTop' | translate" [lazyAPI]="lazyTopAPI"
                  [lazyParams]="['BU_DEPTNO', 'BU_NAME']"></app-mx-select>
              </div>
            </div>
          </nz-col>
          <nz-col [nzSpan]="16">
            <div nz-form-item nz-row [style.marginBottom.px]="20" [style.width.%]="100">
              <div nz-form-label nz-col [nzSpan]="6">
                <label>{{'boardModule.subDept' | translate}}</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="16">
                <app-mx-checkbox [formControlName]="'sub'" [myPlaceHolder]="'boardModule.pleaseSelectSub' | translate" [options]="checkBoxOptions"></app-mx-checkbox>
              </div>
            </div>
          </nz-col>
        </nz-row>
        <nz-row [nzType]="'flex'" [nzJustify]="'center'">
          <nz-col [nzSpan]="'6'">
            <button nz-button nz-col type="submit" [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid" (click)="submitForm()">
              <i class="anticon anticon-search"></i>{{'query' | translate}}</button>
          </nz-col>
          <nz-col [nzSpan]="'6'">
            <button nz-button nz-col [nzType]="'primary'" type="botton" [nzSize]="'large'" (click)="reSet()">
              <i class="anticon anticon-reload"></i>{{'boardModule.reSet' | translate}}</button>
          </nz-col>
        </nz-row>
      </form>
    </nz-collapse-panel>
  </nz-collapse>

  <div class="my-full-screen-header">
    <ng-container *ngTemplateOutlet="pageHeader"></ng-container>
  </div>
</app-data-drive>

<ng-template #pageHeader>
  <nz-alert [nzType]="'info'" class="esd-header">
    <nz-row alert-body [nzType]="'flex'" [nzJustify]="'space-around'">
      <nz-col>
        <span>{{'boardModule.date' | translate}}：{{date}}</span>
      </nz-col>
      <nz-col>
        <span>{{'boardModule.esdTestQuality' | translate}}：{{passQuantity + notPassQuantity}}</span>
      </nz-col>
      <nz-col>
        <span>{{'boardModule.passQuantity' | translate}}：{{passQuantity}}</span>
      </nz-col>
      <nz-col>
        <span>{{'boardModule.notPassQuantity' | translate}}：{{notPassQuantity}}</span>
      </nz-col>
    </nz-row>
  </nz-alert>
</ng-template>
