<app-data-drive [name]="'inspectionComment'" (dataDriveInit)="getDataDrive($event)"></app-data-drive>

<nz-modal [nzVisible]="isVisible" [nzTitle]="'評分'" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="isVisible = false"
  nzWidth="760px">
  <ng-template #modalContent>
    <form nz-form [nzLayout]="formLayout" [formGroup]="myForm" *ngIf="myForm">

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>總分</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input formControlName="SCORE" [nzSize]="'large'" [nzReadonly]="true">
          </nz-input>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>附加分</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input-number formControlName="ADDITIONAL_SCORE" [nzSize]="'large'" [nzMin]="0" [style.width]="'50%'"></nz-input-number>
        </div>
      </div>

      <nz-collapseset formArrayName="list" nzAccordion>
        <nz-collapse [nzActive]="i === 0" [nzTitle]="'位置'+(i+1) +': '+ (myForm.get('list')?.controls[i]?.value?.SCORE !== null? myForm.get('list').controls[i].value.SCORE+'分': '未評分')"
          *ngFor="let ctrl of myForm.controls['list'].controls; let i = index;">
          <div nz-form-item nz-row [formGroupName]="i">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>時間</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="INSPECT_TIME" [nzSize]="'large'" [nzReadonly]="true">
              </nz-input>
            </div>
          </div>

          <div nz-form-item nz-row [formGroupName]="i">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>地點</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="LOCATION" [nzSize]="'large'" [nzReadonly]="true">
              </nz-input>
            </div>
          </div>

          <div nz-form-item nz-row [formGroupName]="i">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>問題詳述</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="PROBLEM_DESC" [nzSize]="'large'" [nzReadonly]="true">
              </nz-input>
            </div>
          </div>

          <div nz-form-item nz-row [formGroupName]="i" *ngIf="myForm.get('list')?.controls[i]?.value?.PROBLEM_PICTURES">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>附圖</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <app-photo-upload formControlName="PROBLEM_PICTURES" [maxCount]="9" [removable]="false" [addable]="false" [scanable]="true"></app-photo-upload>
            </div>
          </div>

          <div nz-form-item nz-row [formGroupName]="i">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>負責人</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <app-colleague-searcher formControlName="OWNER_EMPNO" [miDisabled]="true" [miPlaceHolder]="''">
              </app-colleague-searcher>
            </div>
          </div>

          <div nz-form-item nz-row [formGroupName]="i">
            <div nz-form-label nz-col [nzSpan]="6">
              <label>*评分</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input-number formControlName="SCORE" [nzSize]="'large'" [nzMin]="0" [style.width]="'50%'"></nz-input-number>
            </div>
          </div>
        </nz-collapse>
      </nz-collapseset>


      <div nz-form-item nz-row [style.display]="'block'">
        <button nz-button nz-col [nzOffset]="6" [nzSpan]="12" type="button" [nzType]="'primary'" [nzSize]="'large'" (click)="submitForm()"
          [disabled]="!myForm.valid">確定</button>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal>
