<nz-tabset [(nzSelectedIndex)]="tabIdx">
  <nz-tab>
    <ng-template #nzTabHeading>
      {{'insoectionModule.history' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionEquipHistory'" (dataDriveInit)="getDataDrive1($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a *ngIf="data?.FAIL > 0" (click)="toDetail(data)">{{'insoectionModule.problemPoint' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab *ngIf="issueList?.length > 0">
    <ng-template #nzTabHeading>
      {{'insoectionModule.problem' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionEquipIssueList'" (dataDriveInit)="getDataDrive2($event)"></app-data-drive>
  </nz-tab>
</nz-tabset>
