<nz-tabset [(nzSelectedIndex)]="tabIdx">
  <nz-tab>
    <ng-template #nzTabHeading>
      歷史記錄
    </ng-template>
    <app-data-drive [name]="'inspectionEquipHistory'" (dataDriveInit)="getDataDrive1($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a *ngIf="data?.FAIL > 0" (click)="toDetail(data)">查看问题点</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab *ngIf="issueList?.length > 0">
    <ng-template #nzTabHeading>
      問題點
    </ng-template>
    <app-data-drive [name]="'inspectionEquipIssueList'" (dataDriveInit)="getDataDrive2($event)"></app-data-drive>
  </nz-tab>
</nz-tabset>
