<nz-tabset>
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      {{'insoectionModule.haveBeenInspecting' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionEquipStatus'" (dataDriveInit)="getDataDrive1($event)"></app-data-drive>
  </nz-tab>

  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      {{'insoectionModule.toBeInspecting' | translate}}
    </ng-template>
    <app-data-drive [name]="'inspectionEquipStatus'" (dataDriveInit)="getDataDrive2($event)"></app-data-drive>
  </nz-tab>
</nz-tabset>
