<ul nz-menu [nzMode]="'inline'" style="height:100%" [nzTheme]="'dark'" (click)="select($event)">
  <li nz-submenu>
    <span title><i class="anticon anticon-file-pdf"></i>eMPI</span>
    <ul>
      <li nz-menu-item>添加</li>
      <li nz-menu-item>查詢</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-laptop"></i>subnav 2</span>
    <ul>
      <li nz-menu-item>option5</li>
      <li nz-menu-item>option6</li>
      <li nz-menu-item>option7</li>
      <li nz-menu-item>option8</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-notification"></i>subnav 3</span>
    <ul>
      <li nz-menu-item>option9</li>
      <li nz-menu-item>option10</li>
      <li nz-menu-item>option11</li>
      <li nz-menu-item>option12</li>
    </ul>
  </li>
</ul>
