<ul nz-menu [nzMode]="'inline'" style="height:100%" [nzTheme]="'dark'" (click)="select($event)">
  <li nz-submenu nzOpen>
    <span title><i class="anticon anticon-file-pdf"></i>eMPI</span>
    <ul>
      <li nz-menu-item data-route="/eMPI">添加</li>
      <li nz-menu-item>查詢</li>
      <li nz-menu-item data-route="/eMPI/scan">查看(test)</li>
    </ul>
  </li>
  <li nz-submenu *ngIf="canSeeModule(61)">
      <span title><i class="anticon anticon-mail"></i>巡检</span>
      <ul>
        <li nz-menu-group>
          <span title>主管巡检</span>
          <ul>
            <li nz-menu-item data-route="/login">巡检报告</li>
            <li nz-menu-item>问题追踪</li>
          </ul>
        </li>
        <li nz-menu-group>
          <span title>设备巡检</span>
          <ul>
            <li nz-menu-item>巡检报告</li>
            <li nz-menu-item>登记卡</li>
          </ul>
        </li>
      </ul>
    </li>
  <li nz-submenu *ngIf="canSeeModule(66)">
    <span title><i class="anticon anticon-notification"></i>subnav 3</span>
    <ul>
      <li nz-menu-item>option9</li>
      <li nz-menu-item>option10</li>
      <li nz-menu-item>option11</li>
      <li nz-menu-item>option12</li>
    </ul>
  </li>
</ul>
