<ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'" style="height:100%"  (click)="select($event)" [class.ant-layout-sider-collapsed]="isCollapsed">
  <!-- <li nz-submenu>
    <span title><i class="anticon anticon-file-pdf"></i><span class="nav-text">eMPI</span></span>
    <ul>
      <li nz-menu-item data-route="/eMPI">添加</li>
      <li nz-menu-item>查詢</li>
      <li nz-menu-item data-route="/eMPI/scan">查看(test)</li>
    </ul>
  </li> -->
  <li nz-submenu nzOpen>
    <span title><i class="anticon anticon-file-pdf"></i><span class="nav-text">看板</span></span>
    <ul>
      <li nz-menu-item data-route="/board/urgentMaterial">急料看板</li>
      <li nz-menu-item data-route="/board/urgentNo">急料工單看板</li>
      <li nz-menu-item data-route="/board/esd">門禁狀況</li>
    </ul>
  </li>
  <li nz-submenu *ngIf="canSeeModule(26025)">
      <span title><i class="anticon anticon-file-pdf"></i><span class="nav-text">訓練考試</span></span>
      <ul>
        <li nz-menu-item data-route="/exam/question">考試題目</li>
        <li nz-menu-item data-route="/exam/unit">考卷維護</li>
        <li nz-menu-item data-route="/exam/result">考試結果</li>
      </ul>
    </li>
  <!-- <li nz-submenu *ngIf="canSeeModule(61)">
      <span title><i class="anticon anticon-mail"></i><span class="nav-text">巡检</span></span>
      <ul>
        <li nz-menu-group>
          <span title>主管巡检</span>
          <ul>
            <li nz-menu-item data-route="/login">巡检报告</li>
            <li nz-menu-item>问题追踪</li>
          </ul>
        </li>
        <li nz-menu-group>
          <span title>设备巡检</span>
          <ul>
            <li nz-menu-item>巡检报告</li>
            <li nz-menu-item>登记卡</li>
          </ul>
        </li>
      </ul>
    </li> -->
</ul>
