<nz-tabset>
  <nz-tab [nzTitle]="nzTabHeading1">
    <ng-template #nzTabHeading1>
      {{'serviceModule.nearlyOverTime' | translate}}
      <nz-badge [nzCount]="nearlyOutTimeCount" *ngIf="nearlyOutTimeCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITWorkspace'" (dataDriveInit)="getDataDrive0($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <ng-container *ngIf="data?.STATUS==='Processing'">
            <a (click)="doneResvation(data)">{{'serviceModule.finish' | translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="resetResvation(data)">{{'serviceModule.reset' | translate}}</a>
          </ng-container>
          <ng-container *ngIf="data?.STATUS==='New'">
            <a (click)="closeResvation(data)">{{'serviceModule.close' | translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="receiveResvation(data)">{{'serviceModule.accept' | translate}}</a>
          </ng-container>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading2">
    <ng-template #nzTabHeading2>
      {{'serviceModule.waitingToAccept' | translate}}
      <nz-badge [nzCount]="newCount" *ngIf="newCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITWorkspace'" (dataDriveInit)="getDataDrive1($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a (click)="closeResvation(data)">{{'serviceModule.close' | translate}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="receiveResvation(data)">{{'serviceModule.accept' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading3">
    <ng-template #nzTabHeading3>
      {{'serviceModule.handling' | translate}}
      <nz-badge [nzCount]="processingCount" *ngIf="processingCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITWorkspace'" (dataDriveInit)="getDataDrive2($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a (click)="doneResvation(data)">{{'serviceModule.finish' | translate}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="resetResvation(data)">{{'serviceModule.reset' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab [nzTitle]="nzTabHeading4">
    <ng-template #nzTabHeading4>
      {{'serviceModule.overtime' | translate}}
      <nz-badge [nzCount]="outTimeCount" *ngIf="outTimeCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITWorkspace'" (dataDriveInit)="getDataDrive3($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <ng-container *ngIf="data?.STATUS==='Processing'">
            <a (click)="doneResvation(data)">{{'serviceModule.finish' | translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="resetResvation(data)">{{'serviceModule.reset' | translate}}</a>
          </ng-container>
          <ng-container *ngIf="data?.STATUS==='New'">
            <a (click)="closeResvation(data)">{{'serviceModule.close' | translate}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="receiveResvation(data)">{{'serviceModule.accept' | translate}}</a>
          </ng-container>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab [nzTitle]="nzTabHeading5">
    <ng-template #nzTabHeading5>
      {{'serviceModule.waitingScore' | translate}}
      <!-- <nz-badge [nzCount]="commentCount" *ngIf="commentCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge> -->
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive4($event)">
    </app-data-drive>
  </nz-tab>

  <nz-tab [nzTitle]="nzTabHeading6">
    <ng-template #nzTabHeading6>
      {{'serviceModule.ClosedService' | translate}}
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive5($event)">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <button nz-button [nzType]="'primary'" *ngIf="property === impressionName" (click)="showImpressionDetail(data)">
          <span>{{'serviceModule.showDetail' | translate}}</span>
        </button>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab [nzTitle]="nzTabHeading7">
    <ng-template #nzTabHeading7>
      {{'serviceModule.otherPeopleOvertime' | translate}}
      <nz-badge [nzCount]="otherOutTimeCount" *ngIf="otherOutTimeCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive6($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a (click)="resetResvation(data)">{{'serviceModule.reset' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab [nzTitle]="nzTabHeading8">
    <ng-template #nzTabHeading8>
      {{'serviceModule.otherHandling' | translate}}
      <nz-badge [nzCount]="otherProcessingCount" *ngIf="otherProcessingCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITWorkspace'" (dataDriveInit)="getDataDrive7($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a (click)="doneResvation(data)">{{'serviceModule.finish' | translate}}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="resetResvation(data)">{{'serviceModule.reset' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
</nz-tabset>



<nz-modal [nzVisible]="isClosedVisible" [nzTitle]="'serviceModule.closeReason' | translate" [nzContent]="modalContent1" [nzFooter]="modalFooter1"
  (nzOnCancel)="isClosedVisible = false" nzWidth="560px">
  <ng-template #modalContent1>
    <form nz-form [nzLayout]="'horizontal'">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">{{'serviceModule.closeReason' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16" [style.textAlign]="'center'">
          <input nz-input [(ngModel)]="reason" name="reason">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="display:block;text-align:center">
        <button nz-button type="button" [nzType]="'primary'" style="width: 45%" (click)="submitClosedForm()" [disabled]="!reason">{{'serviceModule.confirm' | translate}}</button>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter1>

  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="isDoneVisible" [nzTitle]="'serviceModule.handle' | translate" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="isDoneVisible = false" nzWidth="560px">
  <ng-template #modalContent>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="doneForm" *ngIf="doneForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">*{{'serviceModule.problemType' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <app-mx-select [lazyAPI]="'IPQA/GetMRILookup?lookup_type=IT_SERVICE_TYPE'" [lazyParams]="['LOOKUP_CODE', 'LOOKUP_CODE']"
            formControlName="TYPE"></app-mx-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">*{{'serviceModule.handleTime' | translate}}(h)</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <nz-input-number [style.width]="'50%'" formControlName="HANDLE_TIME" nzAllowClear="true"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">{{'serviceModule.handleDesc' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea nz-input [nzAutosize]="'1'" formControlName="REMARK"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="display:block;text-align:center">
        <button nz-button type="button" [nzType]="'primary'" style="width: 45%" (click)="submitDoneForm()" [disabled]="doneForm.invalid">{{'serviceModule.confirm' | translate}}</button>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal>
