<ul nz-menu [nzMode]="isCollapsed?'vertical':'inline'" style="height:100%" (click)="select($event)" [class.ant-layout-sider-collapsed]="isCollapsed">
  <!-- <li nz-submenu>
    <span title><i class="anticon anticon-file-pdf"></i><span class="nav-text">eMPI</span></span>
    <ul>
      <li nz-menu-item data-route="/eMPI">添加</li>
      <li nz-menu-item>查詢</li>
      <li nz-menu-item data-route="/eMPI/scan">查看(test)</li>
    </ul>
  </li> -->
  <li nz-submenu nzOpen>
    <span title>
      <i class="anticon anticon-file-pdf"></i>
      <span class="nav-text">{{'board' | translate}}</span>
    </span>
    <ul>
      <li nz-menu-item data-route="/board/urgentMaterial">{{'urgentMaterialBoard' | translate}}</li>
      <li nz-menu-item data-route="/board/urgentNo">{{'urgentNoBoard' | translate}}</li>
      <li nz-menu-item data-route="/board/esd">{{'esd' | translate}}</li>
    </ul>
  </li>
  <li nz-submenu *ngIf="canSeeModule(26025)">
    <span title>
      <i class="anticon anticon-file-pdf"></i>
      <span class="nav-text">{{'exam' | translate}}</span>
    </span>
    <ul>
      <li nz-menu-item data-route="/exam/question">{{'question' | translate}}</li>
      <li nz-menu-item data-route="/exam/unit">{{'unit' | translate}}</li>
      <li nz-menu-item data-route="/exam/result">{{'examResult' | translate}}</li>
    </ul>
  </li>
  <li nz-submenu *ngIf="canSeeModule(61)">
    <span title>
      <i class="anticon anticon-search"></i>
      <span class="nav-text">{{'inspection' | translate}}</span>
    </span>
    <ul>
      <li nz-menu-group>
        <span title>{{'baseSetting' | translate}}</span>
        <ul>
          <li nz-menu-item data-route="/inspection/basic/name">{{'inspectionName' | translate}}</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>{{'bossInspection' | translate}}</span>
        <ul>
          <li nz-menu-item data-route="/inspection/boss/schedule">{{'schedule' | translate}}</li>
          <li nz-menu-item data-route="/inspection/boss/report">{{'inspectionReport' | translate}}</li>
          <li nz-menu-item data-route="/inspection/boss/improvement">{{'improvement' | translate}}</li>
          <li nz-menu-item data-route="/inspection/boss/lines">{{'problemResult' | translate}}</li>
          <li nz-menu-item data-route="/inspection/boss/attendance">{{'attendance' | translate}}</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>{{'eqInspection' | translate}}</span>
        <ul>
          <li nz-menu-item>{{'inspectionReport' | translate}}</li>
          <li nz-menu-item>{{'card' | translate}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>