<nz-tabset [(nzSelectedIndex)]="tabIdx" (nzSelectedIndexChange)="tabChange($event)">
  <nz-tab>
    <ng-template #nzTabHeading>
      {{'serviceModule.waitingToAccept' | translate}}
      <nz-badge [nzCount]="newCount" *ngIf="newCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive1($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <span nz-table-divider></span>
          <a (click)="cancelResvation(data)">{{'serviceModule.cancelService' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab>
    <ng-template #nzTabHeading>
      {{'serviceModule.handling' | translate}}
      <nz-badge [nzCount]="processingCount" *ngIf="processingCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive2($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <span nz-table-divider></span>
          <a (click)="cancelResvation(data)">{{'serviceModule.cancelService' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>
  <nz-tab>
    <ng-template #nzTabHeading>
      {{'serviceModule.waitingScore' | translate}}
      <nz-badge [nzCount]="commentCount" *ngIf="commentCount">
        <ng-template #content>
          &nbsp;&nbsp;
        </ng-template>
      </nz-badge>
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive3($event)">
      <ng-template #actionRef let-data="data">
        <span>
          <a (click)="commentResvation(data)">{{'serviceModule.score' | translate}}</a>
        </span>
      </ng-template>
    </app-data-drive>
  </nz-tab>

  <nz-tab>
    <ng-template #nzTabHeading>
      {{'serviceModule.ClosedService' | translate}}
    </ng-template>
    <app-data-drive [name]="'reservationITSelf'" (dataDriveInit)="getDataDrive4($event)">
      <ng-template #tableCellRef let-data="data" let-property="property">
        <button nz-button [nzType]="'primary'" *ngIf="property === impressionName" (click)="showImpressionDetail(data)">
          <span>{{'serviceModule.showDetail' | translate}}</span>
        </button>
      </ng-template>
    </app-data-drive>
  </nz-tab>
</nz-tabset>
<!-- <nz-modal [nzVisible]="isImpressionVisible" [nzTitle]="'印象'" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="isImpressionVisible = false"
  nzWidth="560px">
  <ng-template #modalContent>
    <div class="impression-content">
      <div class="button-modal"></div>
      <div class="button" *ngFor="let item of impressionList">
        <button nz-button [nzType]="impressionSelected[item.ID]?'primary': 'default'">
          <span>{{item.DESCRIPTION}} &nbsp;&nbsp;{{ item.QTY }}</span>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal> -->


<nz-modal [nzVisible]="isCommentVisible" [nzTitle]="'评价'" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="isCommentVisible = false"
  nzWidth="760px">
  <ng-template #modalContent>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="myForm" *ngIf="myForm">

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>{{'serviceModule.sumScore' | translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16" [style.textAlign]="'center'">
          <nz-rate nzAllowHalf formControlName="SCORE"></nz-rate>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>{{'serviceModule.yinxiang' | translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <div class="impression-content">
            <div class="button" *ngFor="let item of impressionList">
              <button nz-button [nzType]="impressionSelected[item.ID]?'primary': 'default'" (click)="selectImpression(item)">
                <span>{{item.DESCRIPTION}} &nbsp;&nbsp;{{ item.QTY }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="6">
          <label>{{'serviceModule.comment' | translate}}</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="16">
          <nz-input nzType="textarea" [nzAutosize]="'1'" formControlName="USER_COMMENT"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row [style.display]="'block'">
        <button nz-button nz-col [nzOffset]="6" [nzSpan]="12" type="button" [nzType]="'primary'" [nzSize]="'large'" (click)="submitForm()"
          [disabled]="!myForm.valid">{{'serviceModule.confirm2' | translate}}</button>
      </div>
    </form>
  </ng-template>
  <ng-template #modalFooter>

  </ng-template>
</nz-modal>
